Repository yzayak2s/iar-framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install-dependencies:backend, unit-test:backend, deploy:backend, install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

install-dependencies:backend:
  image: node:16-alpine
  stage: dependencies
  script:
  - cd backend
  - npm install
  cache:
    key:
      files:
      - backend/package-lock.json
    paths:
    - backend/node_modules

unit-test:backend:
  image: node:16-alpine
  stage: test
  needs:
  - install-dependencies:backend
  script:
  - cd backend
  - npm run coverage
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit:
      - ./backend/results/test-junit.xml
      coverage_report:
        coverage_format: cobertura
  ...

deploy:backend:
  stage: deploy
  image: alpine
  needs:
  - unit-test:backend
  script:
  - ls backend

install-dependencies:frontend:
  image: node:16-alpine
  stage: dependencies
  script:
  - cd frontend
  - npm install
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/node_modules

lint:frontend:
  image: node:16-alpine
  stage: test
  needs:
  - install-dependencies:frontend
  script:
  - cd frontend
  - npm link @angular/cli@13.3.2
  - ng lint
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/node_modules
    policy: pull

build:frontend:
  image: node:16-alpine
  stage: build
  needs:
  - lint:frontend
  script:
  - cd frontend
  - npm link @angular/cli@13.3.2
  - npm run build
  after_script:
  - echo "JOB_ID=$CI_JOB_ID" >> job.env
  artifacts:
    paths:
    - $CI_PROJECT_DIR/frontend/dist
    reports:
      dotenv: job.env
  cache:
    key:
      files:
  ...

deploy:frontend:
  image: alpine
  stage: deploy
  needs:
  - build:frontend
  variables:
    BUILD_JOB_ID: JOB_ID
    ARTIFACT_URL: https://git.inf.h-brs.de/api/v4/projects/$CI_PROJECT_ID/jobs/$JOB_ID/artifacts?job_token=$CI_JOB_TOKEN
  script:
  - ls frontend

authentification
  backend/src/apis/bonus-api.js
  backend/src/services/bonus-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

input validation
  backend/src/services/bonus-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

remove mistake
  backend/src/services/bonus-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

salesman now only can accept their own bonuses
  backend/src/apis/bonus-api.js
  backend/src/routes/api-routes.js
  backend/src/services/bonus-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

salesman delete and evaluation record read
  backend/swagger.json
Due: install-dependencies:backend, unit-test:backend, deploy:backend

evaluation record documentation
  backend/src/apis/evaluation-record-api.js
  backend/swagger.json
Due: install-dependencies:backend, unit-test:backend, deploy:backend

add goal documentation
  backend/swagger.json
Due: install-dependencies:backend, unit-test:backend, deploy:backend

bonuses documentation
  backend/swagger.json
Due: install-dependencies:backend, unit-test:backend, deploy:backend

Bonus_calc schema
  backend/swagger.json
Due: install-dependencies:backend, unit-test:backend, deploy:backend

bonus documentation
  backend/swagger.json
Due: install-dependencies:backend, unit-test:backend, deploy:backend

implemented updateBonusRemark()- and updateBonusStatus()-method
  frontend/src/app/services/bonus.service.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

added approve and reject button
  frontend/src/app/components/bonus-detail/bonus-detail.component.html
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

ceo can now update again
  backend/src/services/bonus-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

implemented approveBonus()- and rejectBonus()-method
  frontend/src/app/components/bonus-detail/bonus-detail.component.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

styled buttons in bonusDetailComponent
  frontend/src/app/components/bonus-detail/bonus-detail.component.css
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

more swagger
  backend/swagger.json
Due: install-dependencies:backend, unit-test:backend, deploy:backend

have to round bonus as orangeHRM does not support
  backend/src/services/orangeHRM-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

change endpoint
  backend/src/routes/api-routes.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

finalize swagger documentation
  backend/swagger.json
Due: install-dependencies:backend, unit-test:backend, deploy:backend

fix test
  backend/unit-tests/services/bonus-service.spec.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

implemented createBonusInOrangeHRM()-method
  frontend/src/app/services/bonus.service.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

implemented checkApprover()-method for dis- enabled buttons
  frontend/src/app/components/bonus-detail/bonus-detail.component.html
  frontend/src/app/components/bonus-detail/bonus-detail.component.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

added confirm dialog for validation
  frontend/src/app/components/bonus-detail/bonus-detail.component.ts
  frontend/src/app/components/bonuses/bonuses.component.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

allowed salesman to add bonus to orangeHRM
  backend/src/routes/api-routes.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

changed put to post request
  backend/src/apis/orangeHRM-api.js
  frontend/src/app/services/bonus.service.ts
Due: install-dependencies:backend, unit-test:backend, deploy:backend, install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

fix add statement
  backend/src/services/bonus-computation-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

add tests for computation service
  backend/unit-tests/services/bonus-service.spec.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

test fix
  backend/unit-tests/services/bonus-service.spec.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

Path conditions:
  install-dependencies:backend: any of: backend/**/*
  unit-test:backend: any of: backend/**/*
  deploy:backend: any of: backend/**/*
  install-dependencies:frontend: any of: frontend/**/*
  lint:frontend: any of: frontend/**/*
  build:frontend: any of: frontend/**/*
  deploy:frontend: any of: frontend/**/*
