Repository yzayak2s/iar-framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install-dependencies:backend, unit-test:backend, deploy:backend, install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

install-dependencies:backend:
  image: node:16-alpine
  stage: dependencies
  script:
  - cd backend
  - npm install
  cache:
    key:
      files:
      - backend/package-lock.json
    paths:
    - backend/node_modules

unit-test:backend:
  image: node:16-alpine
  stage: test
  needs:
  - install-dependencies:backend
  script:
  - cd backend
  - npm run coverage
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit:
      - ./backend/results/test-junit.xml
      coverage_report:
        coverage_format: cobertura
  ...

deploy:backend:
  stage: deploy
  image: alpine
  needs:
  - unit-test:backend
  script:
  - ls backend

install-dependencies:frontend:
  image: node:16-alpine
  stage: dependencies
  script:
  - cd frontend
  - npm install
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/node_modules

lint:frontend:
  image: node:16-alpine
  stage: test
  needs:
  - install-dependencies:frontend
  script:
  - cd frontend
  - npm link @angular/cli@13.3.2
  - ng lint
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/node_modules
    policy: pull

build:frontend:
  image: node:16-alpine
  stage: build
  needs:
  - lint:frontend
  script:
  - cd frontend
  - npm link @angular/cli@13.3.2
  - npm run build
  after_script:
  - echo "JOB_ID=$CI_JOB_ID" >> job.env
  artifacts:
    paths:
    - $CI_PROJECT_DIR/frontend/dist
    reports:
      dotenv: job.env
  cache:
    key:
      files:
  ...

deploy:frontend:
  image: alpine
  stage: deploy
  needs:
  - build:frontend
  variables:
    BUILD_JOB_ID: JOB_ID
    ARTIFACT_URL: https://git.inf.h-brs.de/api/v4/projects/$CI_PROJECT_ID/jobs/$JOB_ID/artifacts?job_token=$CI_JOB_TOKEN
  script:
  - ls frontend

provided simple table for salesman details
  frontend/src/app/components/salesman/salesman.component.html
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

used component app-salesman as tag
  frontend/src/app/components/bonus-detail/bonus-detail.component.html
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

provided simple styles for saleman table
  frontend/src/app/components/salesman/salesman.component.css
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

refactored id of bonus to _id and changed type to string
  frontend/src/app/components/bonuses/bonuses.component.ts
  frontend/src/app/models/Bonus.ts
  frontend/src/app/services/bonus.service.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

implemented getSalesMan()-method (single salesman) and provided salesManUrl
  frontend/src/app/services/sales-man.service.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

generated SalesManComponent to display a single salesman
  frontend/src/app/app.module.ts
  frontend/src/app/components/salesman/salesman.component.css
  frontend/src/app/components/salesman/salesman.component.html
  frontend/src/app/components/salesman/salesman.component.spec.ts
  frontend/src/app/components/salesman/salesman.component.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

extended SalesMan model with more properties
  frontend/src/app/models/SalesMan.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

brought menu-bar to the front
  frontend/src/app/components/menu-bar/menu-bar.component.css
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

implemented getSalesMan()-method in SalesManComponent
  frontend/src/app/components/salesman/salesman.component.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

salesmanID is not in every bonus calculation
  backend/src/services/bonus-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

change test to account for remark being updated
  backend/unit-tests/services/bonus-service.spec.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

remove launch.json
  .gitignore
Due: none

more documentation
  backend/swagger.json
Due: install-dependencies:backend, unit-test:backend, deploy:backend

User now takes a specified id
  backend/src/app.js
  backend/src/models/User.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

Returns a message instead of throwing Error now
  backend/src/apis/salesman-api.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

Check if the object belongs to the asking salesman
  backend/src/apis/bonus-api.js
  backend/src/apis/evaluation-record-api.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

Middleware for testing if a role is allowed
  backend/src/middlewares/role-middleware.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

Now checks for role of user
  backend/src/routes/api-routes.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

Add user data binding to Dashboad
  frontend/src/app/components/dashboard/dashboard.component.css
  frontend/src/app/components/dashboard/dashboard.component.html
  frontend/src/app/components/dashboard/dashboard.component.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

Add bootstrap dependencies and import to package.json and package.json
  frontend/angular.json
  frontend/package.json
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

-Remove salesman attribute from evaluation record before save -Remove console.log
  frontend/src/app/components/evaluation-record/evaluation-record.component.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

app.module.ts -Syntax correction -remove necessary imports
  frontend/src/app/app.module.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

SalesMan modal: Add missing attributes
  frontend/src/app/models/SalesMan.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

Change salesMan attributes names in grid
  frontend/src/app/components/sales-man/sales-man.component.html
  frontend/src/app/components/sales-man/sales-man.component.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

Revert "add bonus component"
  frontend/src/app/components/bonus/bonus.component.css
  frontend/src/app/components/bonus/bonus.component.html
  frontend/src/app/components/bonus/bonus.component.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

created 5 test users
  backend/src/app.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

MongoDB not automatically gets salesman on startup
  backend/src/app.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

change test to now include id
  backend/unit-tests/services/user-service.spec.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

added further property's to salesman model
  backend/src/models/SalesMan.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

added necessary props for instantiations of salesmen
  backend/src/services/salesman-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

implemented deleteAll()-method (salesmen)
  backend/src/services/salesman-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

provided deleteAllSalesmen()-method
  backend/src/apis/salesman-api.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

provided endpoint for deleting all salesmen
  backend/src/routes/api-routes.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

added parameter unit to specify search request (department Sales)
  backend/src/services/orangeHRM-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

added JavaDoc
  backend/src/helper/creation-helper.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

Path conditions:
  install-dependencies:backend: any of: backend/**/*
  unit-test:backend: any of: backend/**/*
  deploy:backend: any of: backend/**/*
  install-dependencies:frontend: any of: frontend/**/*
  lint:frontend: any of: frontend/**/*
  build:frontend: any of: frontend/**/*
  deploy:frontend: any of: frontend/**/*
