Repository yzayak2s/iar-framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install-dependencies:backend, unit-test:backend, deploy:backend, install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

install-dependencies:backend:
  image: node:16-alpine
  stage: dependencies
  script:
  - cd backend
  - npm install
  cache:
    key:
      files:
      - backend/package-lock.json
    paths:
    - backend/node_modules

unit-test:backend:
  image: node:16-alpine
  stage: test
  needs:
  - install-dependencies:backend
  script:
  - cd backend
  - npm run coverage
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit:
      - ./backend/results/test-junit.xml
      coverage_report:
        coverage_format: cobertura
  ...

deploy:backend:
  stage: deploy
  image: alpine
  needs:
  - unit-test:backend
  script:
  - ls backend

install-dependencies:frontend:
  image: node:16-alpine
  stage: dependencies
  script:
  - cd frontend
  - npm install
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/node_modules

lint:frontend:
  image: node:16-alpine
  stage: test
  needs:
  - install-dependencies:frontend
  script:
  - cd frontend
  - npm link @angular/cli@13.3.2
  - ng lint
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/node_modules
    policy: pull

build:frontend:
  image: node:16-alpine
  stage: build
  needs:
  - lint:frontend
  script:
  - cd frontend
  - npm link @angular/cli@13.3.2
  - npm run build
  after_script:
  - echo "JOB_ID=$CI_JOB_ID" >> job.env
  artifacts:
    paths:
    - $CI_PROJECT_DIR/frontend/dist
    reports:
      dotenv: job.env
  cache:
    key:
      files:
  ...

deploy:frontend:
  image: alpine
  stage: deploy
  needs:
  - build:frontend
  variables:
    BUILD_JOB_ID: JOB_ID
    ARTIFACT_URL: https://git.inf.h-brs.de/api/v4/projects/$CI_PROJECT_ID/jobs/$JOB_ID/artifacts?job_token=$CI_JOB_TOKEN
  script:
  - ls frontend

remove forgotten .only
  backend/unit-tests/services/salesman-service.spec.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

salesManID now is parsed as int
  backend/src/models/Bonus.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

delete old existing salesman
  backend/src/services/salesman-service.js
  backend/unit-tests/services/salesman-service.spec.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

remove old comment
  backend/src/services/salesman-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

add Error if bonus already exist for that year
  backend/src/services/bonus-service.js
  backend/unit-tests/services/bonus-service.spec.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

add bonus to app
  frontend/src/app/app.module.ts
  frontend/src/app/app.routing.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

add bonus component
  frontend/src/app/components/bonus/bonus.component.css
  frontend/src/app/components/bonus/bonus.component.html
  frontend/src/app/components/bonus/bonus.component.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

add bonus service
  frontend/src/app/services/bonus.service.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

add bonus Model
  frontend/src/app/models/Bonus.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

change bonus_id type in backend service
  backend/src/services/bonus-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

change evaluation record id type
  backend/src/services/evaluation-record-service.js
  frontend/src/app/components/evaluation-record/evaluation-record.component.css
  frontend/src/app/components/evaluation-record/evaluation-record.component.html
  frontend/src/app/components/evaluation-record/evaluation-record.component.ts
  frontend/src/app/models/EvaluationRecord.ts
  frontend/src/app/services/evaluation-record.service.ts
Due: install-dependencies:backend, unit-test:backend, deploy:backend, install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

change salesman id type
  backend/src/services/salesman-service.js
  frontend/src/app/services/sales-man.service.ts
Due: install-dependencies:backend, unit-test:backend, deploy:backend, install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

add bonus tab in the menu bar
  frontend/src/app/components/menu-bar/menu-bar.component.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

now also checks for undefined uids
  backend/src/services/bonus-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

tests for bonus calculation
  backend/unit-tests/services/bonus-service.spec.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

installed dotenv
  backend/package-lock.json
  backend/package.json
Due: install-dependencies:backend, unit-test:backend, deploy:backend

imported dotenv and declared credential variables
  backend/environments/environment.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

added .env file to gitignore
  .gitignore
Due: none

removed not needed files
  .gitlab-ci.yml
  backend/src/apis/openCRX-api.js
  backend/src/apis/orangeHRM-api.js
  backend/src/services/openCRX-service.js
  backend/src/services/orangeHRM-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

removed peopleDemoApi
  backend/src/routes/api-routes.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

removed not yet working bonuses-page.component
  frontend/src/app/pages/bonuses-page/bonuses-page-datasource.ts
  frontend/src/app/pages/bonuses-page/bonuses-page.component.css
  frontend/src/app/pages/bonuses-page/bonuses-page.component.html
  frontend/src/app/pages/bonuses-page/bonuses-page.component.spec.ts
  frontend/src/app/pages/bonuses-page/bonuses-page.component.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

created swagger.json file
  backend/swagger.json
Due: install-dependencies:backend, unit-test:backend, deploy:backend

added further property's to salesman model
  backend/src/models/SalesMan.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

some hotfixes and additions
  backend/swagger.json
Due: install-dependencies:backend, unit-test:backend, deploy:backend

outsourced whole swagger documentation to swagger.json
  backend/swagger.json
Due: install-dependencies:backend, unit-test:backend, deploy:backend

removed unnecessary swagger doc
  backend/package-lock.json
  backend/package.json
  backend/src/app.js
  backend/src/models/Bonus.js
  backend/src/models/EvaluationRecord.js
  backend/src/models/SalesMan.js
  backend/src/routes/api-routes.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

Revert "added further property's to salesman model"
  backend/src/models/SalesMan.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

ng generated BonusService
  frontend/src/app/services/bonus.service.spec.ts
  frontend/src/app/services/bonus.service.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

imported BonusPageComponent and declared route
  frontend/src/app/app.module.ts
  frontend/src/app/app.routing.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

added menu button 'Bonus'
  frontend/src/app/components/menu-bar/menu-bar.component.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

ng-generated BonusPageComponent
  frontend/src/app/pages/bonus-page/bonus-page.component.css
  frontend/src/app/pages/bonus-page/bonus-page.component.html
  frontend/src/app/pages/bonus-page/bonus-page.component.spec.ts
  frontend/src/app/pages/bonus-page/bonus-page.component.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

imported Bonus-Interface, Observable and HttpClient and implemented getBonuses()-method
  frontend/src/app/services/bonus.service.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

imported HttpHeaders and implemented getBonus()-method
  frontend/src/app/services/bonus.service.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

implemented getBonus()-method
  frontend/src/app/services/bonus.service.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

implemented addBonus()-method
  frontend/src/app/services/bonus.service.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

implemented deleteBonus()-method
  frontend/src/app/services/bonus.service.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

implemented searchBonus()-method
  frontend/src/app/services/bonus.service.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

changed type-parameter to HttpResponse<Bonus[]>
  frontend/src/app/services/bonus.service.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

created BonusesComponent
  frontend/src/app/components/bonuses/bonuses.component.css
  frontend/src/app/components/bonuses/bonuses.component.html
  frontend/src/app/components/bonuses/bonuses.component.spec.ts
  frontend/src/app/components/bonuses/bonuses.component.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

connected BonusService with BackendAPI (real data)
  frontend/src/app/services/bonus.service.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

Path conditions:
  install-dependencies:backend: any of: backend/**/*
  unit-test:backend: any of: backend/**/*
  deploy:backend: any of: backend/**/*
  install-dependencies:frontend: any of: frontend/**/*
  lint:frontend: any of: frontend/**/*
  build:frontend: any of: frontend/**/*
  deploy:frontend: any of: frontend/**/*
