Repository yzayak2s/iar-framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install-dependencies:backend, unit-test:backend, deploy:backend, install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

.gitlab-ci.yml:

stages:
  - dependencies
  - test
  - build
  - deploy

.backend_rules:
  rules:
    - if: "$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH"
      changes:
        - backend/**/*

.frontend_rules:
  rules:
    - if: "$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH"
      changes:
        - frontend/**/*

install-dependencies:backend:
  image: node:16-alpine
  stage: dependencies
  script:
    - cd backend
    - npm install
  rules:
    - !reference [.backend_rules, rules]
  cache:
    key:
      files:
        - backend/package-lock.json
    paths:
      - backend/node_modules

unit-test:backend:
  image: node:16-alpine
  stage: test
  rules:
    - !reference [ .backend_rules, rules ]
  needs:
    - install-dependencies:backend
  script:
    - cd backend
    - npm run coverage
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit:
        - ./backend/results/test-junit.xml
      coverage_report:
        coverage_format: cobertura
        path: ./backend/coverage/cobertura-coverage.xml
  cache:
    key:
      files:
        - backend/package-lock.json
    paths:
      - backend/node_modules
    policy: pull

deploy:backend:
  stage: deploy
  image: alpine
  rules:
    - !reference [ .backend_rules, rules ]
  needs:
    - unit-test:backend
  script:
    - ls backend

install-dependencies:frontend:
  image: node:16-alpine
  stage: dependencies
  script:
    - cd frontend
    - npm install
  rules:
    - !reference [ .frontend_rules, rules ]
  cache:
    key:
      files:
        - frontend/package-lock.json
    paths:
      - frontend/node_modules

lint:frontend:
  image: node:16-alpine
  stage: test
  rules:
    - !reference [ .frontend_rules, rules ]
  needs:
    - install-dependencies:frontend
  script:
    - cd frontend
    - npm link @angular/cli@13.3.2
    - ng lint
  cache:
    key:
      files:
        - frontend/package-lock.json
    paths:
      - frontend/node_modules
    policy: pull

.test:frontend:
  image: container.docker.inf.h-brs.de/diarchitect/docker-node-chrome-firefox:master
  stage: test
  needs:
    - install-dependencies:frontend
  rules:
    - !reference [ .frontend_rules, rules ]
  script:
    - cd frontend
    - npm link @angular/cli@13.3.2
    - npm test -- --browsers=ChromeHeadlessNoSandbox,FirefoxHeadless --watch=false
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit:
        - "./frontend/reports/chrome.xml"
        - "./frontend/reports/firefox.xml"
      coverage_report:
        coverage_format: cobertura
        path: ./frontend/coverage/app/cobertura-coverage.xml
  cache:
    key:
      files:
        - frontend/package-lock.json
    paths:
      - frontend/node_modules
    policy: pull

build:frontend:
  image: node:16-alpine
  stage: build
  rules:
    - !reference [ .frontend_rules, rules ]
  needs:
    - lint:frontend
    #- test:frontend
  script:
    - cd frontend
    - npm link @angular/cli@13.3.2
    - npm run build
  after_script:
    - echo "JOB_ID=$CI_JOB_ID" >> job.env
  artifacts:
    paths:
      - $CI_PROJECT_DIR/frontend/dist
    reports:
      dotenv: job.env
  cache:
    key:
      files:
        - frontend/package-lock.json
    paths:
      - frontend/node_modules
    policy: pull

deploy:frontend:
  image: alpine
  stage: deploy
  rules:
    - !reference [ .frontend_rules, rules ]
  needs:
    - build:frontend
  variables:
    BUILD_JOB_ID: JOB_ID
    ARTIFACT_URL: "https://git.inf.h-brs.de/api/v4/projects/$CI_PROJECT_ID/jobs/$JOB_ID/artifacts?job_token=$CI_JOB_TOKEN"
  script:
    - ls frontend

changes error messages
  backend/src/services/salesman-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

change endpoint from _id to id
  backend/src/routes/api-routes.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

configured local cache (sepp-nexus) as npm registry an bumped node version to 18
  .gitlab-ci.yml
Due: none

created evaluationrecord-service.spec.js and salesman-service.spec.js (tests) based on mocha
  backend/unit-tests/services/evaluationrecord-service.spec.js
  backend/unit-tests/services/salesman-service.spec.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

changed return value of getSalesManByFirstname() and add()
  backend/src/services/salesman-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

some hotfixes and changed collection name 'evaluationRecord' to 'evaluation_record'
  backend/src/models/EvaluationRecord.js
  backend/src/services/evaluation-record-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

provided several unittest in mocha for salesman and evaluation-record
  backend/unit-tests/services/evaluationrecord-service.spec.js
  backend/unit-tests/services/salesman-service.spec.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

changed test_unit to test
  backend/package.json
Due: install-dependencies:backend, unit-test:backend, deploy:backend

fixed coverage to use new test name
  backend/package.json
Due: install-dependencies:backend, unit-test:backend, deploy:backend

added swagger-ui to our backend
  backend/package-lock.json
  backend/package.json
  backend/src/app.js
  backend/swagger.json
Due: install-dependencies:backend, unit-test:backend, deploy:backend

implements swagger-jsdoc for documentation
  backend/package-lock.json
  backend/package.json
  backend/src/app.js
  backend/swagger.json
Due: install-dependencies:backend, unit-test:backend, deploy:backend

add schema for evaluation records
  backend/src/models/EvaluationRecord.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

add schema for salesman
  backend/src/models/SalesMan.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

added examples
  backend/src/models/EvaluationRecord.js
  backend/src/models/SalesMan.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

added two example documentations
  backend/src/routes/api-routes.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

add login documentation
  backend/src/routes/api-routes.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

added documentation for all authentification apis
  backend/src/routes/api-routes.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

Add sales-man component to app.module
  frontend/src/app/app.module.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

Import SalesManComponent in app.routing
  frontend/src/app/app.routing.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

Add Salesman router link to the menu bar
  frontend/src/app/components/menu-bar/menu-bar.component.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

Implement Salesman modal
  frontend/src/app/models/SalesMan.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

Implement Salesman component (html + css + ts)
  frontend/src/app/components/sales-man/sales-man.component.css
  frontend/src/app/components/sales-man/sales-man.component.html
  frontend/src/app/components/sales-man/sales-man.component.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

Implement Salesman service ts
  frontend/src/app/services/sales-man.service.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

Update Salesman component path and router link
  frontend/src/app/app.routing.ts
  frontend/src/app/components/login/login.component.ts
  frontend/src/app/components/menu-bar/menu-bar.component.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

add evaluation record to appmodule
  frontend/src/app/app.module.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

add evaluationRecordComponent to app.routing
  frontend/src/app/app.routing.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

add evaluationRecordComponent to menu bar
  frontend/src/app/components/menu-bar/menu-bar.component.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

impelement evaluation-recordComponent
  frontend/src/app/components/evaluation-record/evaluation-record.component.css
  frontend/src/app/components/evaluation-record/evaluation-record.component.html
  frontend/src/app/components/evaluation-record/evaluation-record.component.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

declare todos
  backend/src/routes/api-routes.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

created openCRX-api.js and implemented getAccounts(), getProducts() and getSalesOrders()-methods
  backend/src/apis/openCRX-api.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

created openCRX-service.js and implemented getAllAccounts(), getAllProducts() and getAllSalesOrders()-methods
  backend/src/services/openCRX-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

created orangeHRM-service.js
  backend/src/services/orangeHRM-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

created salesmen.js for routing
  backend/src/routes/salesmen.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

added package axios to package.json
  backend/package-lock.json
  backend/package.json
Due: install-dependencies:backend, unit-test:backend, deploy:backend

provided some endpoints (especially only read) for openCRX
  backend/src/routes/api-routes.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

used axios and provided some filtering (focus on most important attributes)
  backend/src/services/openCRX-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

implemented getAccountByUID()-method in openCRX-service.js
  backend/src/services/openCRX-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

provided getAccountByUID()-method in openCRX-api.js
  backend/src/apis/openCRX-api.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

provided endpoint for getAccountByUID()-method in api-routes.js
  backend/src/routes/api-routes.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

Import and declare Dashboard Component Import MarListModule
  frontend/src/app/app.module.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend
