Repository yzayak2s/iar-framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install-dependencies:backend, unit-test:backend, deploy:backend, install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

.gitlab-ci.yml:

stages:
  - dependencies
  - test
  - build
  - deploy

.backend_rules:
  rules:
    - if: "$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH"
      changes:
        - backend/**/*

.frontend_rules:
  rules:
    - if: "$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH"
      changes:
        - frontend/**/*

install-dependencies:backend:
  image: node:16-alpine
  stage: dependencies
  script:
    - cd backend
    - npm install
  rules:
    - !reference [.backend_rules, rules]
  cache:
    key:
      files:
        - backend/package-lock.json
    paths:
      - backend/node_modules

unit-test:backend:
  image: node:16-alpine
  stage: test
  rules:
    - !reference [ .backend_rules, rules ]
  needs:
    - install-dependencies:backend
  script:
    - cd backend
    - npm run coverage
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit:
        - ./backend/results/test-junit.xml
      coverage_report:
        coverage_format: cobertura
        path: ./backend/coverage/cobertura-coverage.xml
  cache:
    key:
      files:
        - backend/package-lock.json
    paths:
      - backend/node_modules
    policy: pull

deploy:backend:
  stage: deploy
  image: alpine
  rules:
    - !reference [ .backend_rules, rules ]
  needs:
    - unit-test:backend
  script:
    - ls backend

install-dependencies:frontend:
  image: node:16-alpine
  stage: dependencies
  script:
    - cd frontend
    - npm install
  rules:
    - !reference [ .frontend_rules, rules ]
  cache:
    key:
      files:
        - frontend/package-lock.json
    paths:
      - frontend/node_modules

lint:frontend:
  image: node:16-alpine
  stage: test
  rules:
    - !reference [ .frontend_rules, rules ]
  needs:
    - install-dependencies:frontend
  script:
    - cd frontend
    - npm link @angular/cli@13.3.2
    - ng lint
  cache:
    key:
      files:
        - frontend/package-lock.json
    paths:
      - frontend/node_modules
    policy: pull

.test:frontend:
  image: container.docker.inf.h-brs.de/diarchitect/docker-node-chrome-firefox:master
  stage: test
  needs:
    - install-dependencies:frontend
  rules:
    - !reference [ .frontend_rules, rules ]
  script:
    - cd frontend
    - npm link @angular/cli@13.3.2
    - npm test -- --browsers=ChromeHeadlessNoSandbox,FirefoxHeadless --watch=false
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit:
        - "./frontend/reports/chrome.xml"
        - "./frontend/reports/firefox.xml"
      coverage_report:
        coverage_format: cobertura
        path: ./frontend/coverage/app/cobertura-coverage.xml
  cache:
    key:
      files:
        - frontend/package-lock.json
    paths:
      - frontend/node_modules
    policy: pull

build:frontend:
  image: node:16-alpine
  stage: build
  rules:
    - !reference [ .frontend_rules, rules ]
  needs:
    - lint:frontend
    #- test:frontend
  script:
    - cd frontend
    - npm link @angular/cli@13.3.2
    - npm run build
  after_script:
    - echo "JOB_ID=$CI_JOB_ID" >> job.env
  artifacts:
    paths:
      - $CI_PROJECT_DIR/frontend/dist
    reports:
      dotenv: job.env
  cache:
    key:
      files:
        - frontend/package-lock.json
    paths:
      - frontend/node_modules
    policy: pull

deploy:frontend:
  image: alpine
  stage: deploy
  rules:
    - !reference [ .frontend_rules, rules ]
  needs:
    - build:frontend
  variables:
    BUILD_JOB_ID: JOB_ID
    ARTIFACT_URL: "https://git.inf.h-brs.de/api/v4/projects/$CI_PROJECT_ID/jobs/$JOB_ID/artifacts?job_token=$CI_JOB_TOKEN"
  script:
    - ls frontend

updated dependency of @angular-devkit/build-angular to remove a dependency to a vulnerable version of terser
  frontend/package-lock.json
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

updated angular dependencies
  frontend/package-lock.json
  frontend/package.json
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

changed version of angular-cli linked in pipeline
  .gitlab-ci.yml
Due: none

fixed version of angular-cli linked in pipeline
  .gitlab-ci.yml
Due: none

added option to configure mongodb authSource
  backend/src/app.js
  frontend/src/index.html
Due: install-dependencies:backend, unit-test:backend, deploy:backend, install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

moved frontend environments out of the source directory
  frontend/angular.json
  frontend/environments/environment.prod.ts
  frontend/environments/environment.ts
  frontend/src/app/services/auth.service.ts
  frontend/src/app/services/people-demo.service.ts
  frontend/src/app/services/user.service.ts
  frontend/src/main.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

added switchable environments for configuration purposes
  README.md
  backend/environments/environment.js
  backend/environments/environment.prod.js
  backend/package.json
  backend/src/app.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

added scripts to deployments stages
  .gitlab-ci.yml
Due: none

testing pipeline
  .gitlab-ci.yml
  backend/environments/environment.prod.js
  frontend/environments/environment.prod.ts
Due: install-dependencies:backend, unit-test:backend, deploy:backend, install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

bumped pm2 container version
  .gitlab-ci.yml
Due: none

added ecosystem.config.js
  backend/ecosystem.config.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

added missing dependencies for backend deployment
  .gitlab-ci.yml
Due: none

fixed ecosystem.config.js and switched pm2 container version
  .gitlab-ci.yml
  backend/ecosystem.config.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

switched pm2 container version
  .gitlab-ci.yml
Due: none

trying to fix backend deployment
  .gitlab-ci.yml
  backend/ecosystem.config.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

trying to fix backend deployment
  .gitlab-ci.yml
Due: none

trying to fix backend deployment
  backend/ecosystem.config.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

trying to get the repo's URL from a predefined environment variable
  backend/ecosystem.config.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

added pre-deploy script to delete old deployment
  backend/ecosystem.config.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

moved pre-deploy script to pre-setup
  backend/ecosystem.config.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

finalizing pipeline
  .gitlab-ci.yml
  backend/ecosystem.config.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

fixed baseHref parameter
  .gitlab-ci.yml
Due: none

set DB credentials
  backend/environments/environment.prod.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

changed description of admin password in README.md
  README.md
Due: none

configured CI/CD
  backend/environments/environment.prod.js
  frontend/environments/environment.prod.ts
Due: install-dependencies:backend, unit-test:backend, deploy:backend, install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

changed host
  backend/environments/environment.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

changed port
  frontend/environments/environment.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

changed port
  frontend/proxy.conf.json
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

imported: - salesman-api.js to api-routes.js - salesman-service.js to salesman-api.js
  backend/src/apis/people-demo-api.js
  backend/src/apis/salesman-api.js
  backend/src/app.js
  backend/src/models/SalesMan.js
  backend/src/routes/api-routes.js
  backend/src/services/salesman-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

imported: - salesman-api.js to api-routes.js - salesman-service.js to salesman-api.js
  backend/src/apis/evaluation-record-api.js
  backend/src/models/EvaluationRecord.js
  backend/src/services/evaluation-record-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

implemented: - constructor()-method in EvaluationRecord.js
  backend/src/apis/evaluation-record-api.js
  backend/src/models/EvaluationRecord.js
  backend/src/services/evaluation-record-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

implemented: - getSalesManByFirstname() - getSalesManById() - updateSalesManById()
  backend/src/apis/salesman-api.js
  backend/src/routes/api-routes.js
  backend/src/services/salesman-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

changed _goalId to _id
  backend/src/models/EvaluationRecord.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

implemented CRUD for evaluation records
  backend/src/services/evaluation-record-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

implemented service class and added Error handling
  backend/src/apis/evaluation-record-api.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

added evaluationRecord endpoints
  backend/src/routes/api-routes.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

changes error handling
  backend/src/apis/salesman-api.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend
