Repository yzayak2s/iar-framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install-dependencies:backend, unit-test:backend, deploy:backend, install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

install-dependencies:backend:
  image: node:16-alpine
  stage: dependencies
  script:
  - cd backend
  - npm install
  cache:
    key:
      files:
      - backend/package-lock.json
    paths:
    - backend/node_modules

unit-test:backend:
  image: node:16-alpine
  stage: test
  needs:
  - install-dependencies:backend
  script:
  - cd backend
  - npm run coverage
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit:
      - ./backend/results/test-junit.xml
      coverage_report:
        coverage_format: cobertura
  ...

deploy:backend:
  stage: deploy
  image: alpine
  needs:
  - unit-test:backend
  script:
  - ls backend

install-dependencies:frontend:
  image: node:16-alpine
  stage: dependencies
  script:
  - cd frontend
  - npm install
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/node_modules

lint:frontend:
  image: node:16-alpine
  stage: test
  needs:
  - install-dependencies:frontend
  script:
  - cd frontend
  - npm link @angular/cli@13.3.2
  - ng lint
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/node_modules
    policy: pull

build:frontend:
  image: node:16-alpine
  stage: build
  needs:
  - lint:frontend
  script:
  - cd frontend
  - npm link @angular/cli@13.3.2
  - npm run build
  after_script:
  - echo "JOB_ID=$CI_JOB_ID" >> job.env
  artifacts:
    paths:
    - $CI_PROJECT_DIR/frontend/dist
    reports:
      dotenv: job.env
  cache:
    key:
      files:
  ...

deploy:frontend:
  image: alpine
  stage: deploy
  needs:
  - build:frontend
  variables:
    BUILD_JOB_ID: JOB_ID
    ARTIFACT_URL: https://git.inf.h-brs.de/api/v4/projects/$CI_PROJECT_ID/jobs/$JOB_ID/artifacts?job_token=$CI_JOB_TOKEN
  script:
  - ls frontend

fix UID not equal
  backend/src/services/salesman-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

change url to fit unit
  backend/unit-tests/services/orangeHRM-service.spec.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

changed salesman test objects to fit model
  backend/unit-tests/services/bonus-service.spec.js
  backend/unit-tests/services/evaluationrecord-service.spec.js
  backend/unit-tests/services/salesman-service.spec.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

hopefully fix production problems
  backend/swagger.json
Due: install-dependencies:backend, unit-test:backend, deploy:backend

made swagger path relative
  backend/swagger.json
Due: install-dependencies:backend, unit-test:backend, deploy:backend

final swagger server fix
  backend/swagger.json
Due: install-dependencies:backend, unit-test:backend, deploy:backend

dashboard image fix
  frontend/src/app/components/dashboard/dashboard.component.html
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

added in swagger endpoint read all employees
  backend/swagger.json
Due: install-dependencies:backend, unit-test:backend, deploy:backend

debugging
  backend/src/apis/orangeHRM-api.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

Update deleteEvaluationRecord service call
  frontend/src/app/components/evaluation-record/evaluation-record.component.ts
  frontend/src/app/services/evaluation-record.service.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

Update salesman attributes
  frontend/src/app/components/sales-man/sales-man.component.html
  frontend/src/app/components/sales-man/sales-man.component.ts
  frontend/src/app/models/SalesMan.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

Add getAllGoals service function (backend)
  backend/src/services/evaluation-record-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

Remove ObjectID from bonus-service
  backend/src/services/bonus-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

add roleauthentification to route
  backend/src/routes/api-routes.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

remove unneeded double check
  backend/src/services/salesman-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

more documentation
  backend/swagger.json
Due: install-dependencies:backend, unit-test:backend, deploy:backend

Made Model check error more general
  backend/src/helper/creation-helper.js
  backend/src/services/bonus-service.js
  backend/src/services/evaluation-record-service.js
  backend/src/services/salesman-service.js
  backend/unit-tests/services/bonus-service.spec.js
  backend/unit-tests/services/evaluationrecord-service.spec.js
  backend/unit-tests/services/salesman-service.spec.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

Add check for User role
  frontend/src/app/services/auth-guard.service.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

now gets user role on login and saves it
  frontend/src/app/services/auth.service.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

first route permissions for users
  frontend/src/app/app.routing.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

s
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.module.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

fix lint errors
  frontend/src/app/components/dashboard/dashboard.component.ts
  frontend/src/app/components/sales-man/sales-man.component.ts
  frontend/src/app/models/EvaluationRecord.ts
  frontend/src/app/models/SalesMan.ts
  frontend/src/app/services/auth-guard.service.ts
  frontend/src/app/services/auth.service.ts
  frontend/src/app/services/evaluation-record.service.ts
  frontend/src/app/services/sales-man.service.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

more lint fixes
  frontend/src/app/app.routing.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

finally removed bootstrap
  frontend/angular.json
  frontend/src/app/components/evaluation-record/evaluation-record.component.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

temporarily skip test until solutin found
  backend/unit-tests/services/evaluationrecord-service.spec.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

s
  frontend/package-lock.json
  frontend/package.json
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

Add bootstrap dependencies Add salesorder view, service and modal Re-activate bootstrap modal
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.module.ts
  frontend/src/app/app.routing.ts
  frontend/src/app/components/evaluation-record/evaluation-record.component.ts
  frontend/src/app/components/menu-bar/menu-bar.component.ts
  frontend/src/app/components/sales-order/sales-order.component.css
  frontend/src/app/components/sales-order/sales-order.component.html
  frontend/src/app/components/sales-order/sales-order.component.ts
  frontend/src/app/models/SalesOrder.ts
  frontend/src/app/services/sales-order.service.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

Adjust dependencies version to match versions in main
  frontend/package-lock.json
  frontend/package.json
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

add evaluation record modal
  backend/environments/environment.js
  frontend/src/app/components/sales-man/sales-man.component.html
  frontend/src/app/components/sales-man/sales-man.component.ts
  frontend/src/app/components/sales-order/sales-order.component.html
  frontend/src/app/components/sales-order/sales-order.component.ts
  frontend/src/app/services/evaluation-record.service.ts
Due: install-dependencies:backend, unit-test:backend, deploy:backend, install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

db name
  backend/environments/environment.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

add route guard
  frontend/src/app/app.routing.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

eslint fixes
  frontend/src/app/app.module.ts
  frontend/src/app/components/evaluation-record/evaluation-record.component.ts
  frontend/src/app/components/sales-order/sales-order.component.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

fixed all 23 errors (incorrect props, type-parameters, etc.)
  frontend/src/app/components/evaluation-record/evaluation-record.component.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

fix login on site refresh
  frontend/src/app/services/auth.service.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

remove old comments
  frontend/src/app/components/evaluation-record/evaluation-record.component.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

code cleanup
  frontend/src/app/components/evaluation-record/evaluation-record.component.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

function to add goals
  backend/src/services/evaluation-record-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

add goals on startup
  backend/src/app.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

cleanup
  frontend/src/app/components/dashboard/dashboard.component.html
  frontend/src/app/components/dashboard/dashboard.component.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

Path conditions:
  install-dependencies:backend: any of: backend/**/*
  unit-test:backend: any of: backend/**/*
  deploy:backend: any of: backend/**/*
  install-dependencies:frontend: any of: frontend/**/*
  lint:frontend: any of: frontend/**/*
  build:frontend: any of: frontend/**/*
  deploy:frontend: any of: frontend/**/*
