Repository yzayak2s/iar-framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install-dependencies:backend, unit-test:backend, deploy:backend, install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

install-dependencies:backend:
  image: node:16-alpine
  stage: dependencies
  script:
  - cd backend
  - npm install
  cache:
    key:
      files:
      - backend/package-lock.json
    paths:
    - backend/node_modules

unit-test:backend:
  image: node:16-alpine
  stage: test
  needs:
  - install-dependencies:backend
  script:
  - cd backend
  - npm run coverage
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit:
      - ./backend/results/test-junit.xml
      coverage_report:
        coverage_format: cobertura
  ...

deploy:backend:
  stage: deploy
  image: alpine
  needs:
  - unit-test:backend
  script:
  - ls backend

install-dependencies:frontend:
  image: node:16-alpine
  stage: dependencies
  script:
  - cd frontend
  - npm install
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/node_modules

lint:frontend:
  image: node:16-alpine
  stage: test
  needs:
  - install-dependencies:frontend
  script:
  - cd frontend
  - npm link @angular/cli@13.3.2
  - ng lint
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/node_modules
    policy: pull

build:frontend:
  image: node:16-alpine
  stage: build
  needs:
  - lint:frontend
  script:
  - cd frontend
  - npm link @angular/cli@13.3.2
  - npm run build
  after_script:
  - echo "JOB_ID=$CI_JOB_ID" >> job.env
  artifacts:
    paths:
    - $CI_PROJECT_DIR/frontend/dist
    reports:
      dotenv: job.env
  cache:
    key:
      files:
  ...

deploy:frontend:
  image: alpine
  stage: deploy
  needs:
  - build:frontend
  variables:
    BUILD_JOB_ID: JOB_ID
    ARTIFACT_URL: https://git.inf.h-brs.de/api/v4/projects/$CI_PROJECT_ID/jobs/$JOB_ID/artifacts?job_token=$CI_JOB_TOKEN
  script:
  - ls frontend

Add dashboard route
  frontend/src/app/app.routing.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

Redirect to dashboard component after login
  frontend/src/app/components/login/login.component.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

Add Dashboard routerLink to menu
  frontend/src/app/components/menu-bar/menu-bar.component.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

Add Missing EvaluationRecord Service
  frontend/src/app/models/EvaluationRecord.ts
  frontend/src/app/services/evaluation-record.service.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

Implement Dashboard component
  frontend/src/app/components/dashboard/dashboard.component.css
  frontend/src/app/components/dashboard/dashboard.component.html
  frontend/src/app/components/dashboard/dashboard.component.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

Upload user icon
  frontend/src/assets/images/user.png
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

provided endpoints for getProductByUID(), getSalesOrderByUID()-method in api-routes.js and openCRX-api.js
  backend/src/apis/openCRX-api.js
  backend/src/routes/api-routes.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

implemented getProductByUID(), getSalesOrderByUID() and getAllPositions()-method in openCRX-service.js
  backend/src/services/openCRX-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

defined todo for positions
  backend/src/services/openCRX-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

set arrow function return type to void
  frontend/src/app/services/evaluation-record.service.ts
  frontend/src/app/services/sales-man.service.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

empty url default routes to login now
  frontend/src/app/app.routing.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

Except _goalID and _id from underscore-dangle rule
  frontend/.eslintrc.js
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

excluded .env file in .gitignore
  .gitignore
Due: none

provided endpoint for all employees
  backend/src/routes/api-routes.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

created orangeHRM-api.js and provided getEmployees()-method
  backend/src/apis/orangeHRM-api.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

implemented getAllEmployees()-method
  backend/src/services/orangeHRM-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

provided endpoint for employee by code
  backend/src/routes/api-routes.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

provided method getEmployeeByCode()
  backend/src/apis/orangeHRM-api.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

implemented method getEmployeeByCode()
  backend/src/services/orangeHRM-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

provided endpoint for bonussalary by employee
  backend/src/routes/api-routes.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

provided getBonusSalariesByEmployee()-method
  backend/src/apis/orangeHRM-api.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

implemented getBonusSalariesByEmployee()-method
  backend/src/services/orangeHRM-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

http head is now global since it is reused
  backend/src/apis/openCRX-api.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

http request head now global
  backend/src/apis/orangeHRM-api.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

deleted as empty
  backend/src/routes/salesmen.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

checkAuthorization is now a middleware
  backend/src/routes/api-routes.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

deleted .env (not necessary)
  .gitignore
Due: none

implemented generateToken()-method
  backend/src/apis/orangeHRM-api.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

passed generateToken()-method as variable to all methods
  backend/src/apis/orangeHRM-api.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

implemented checkToken()-method
  backend/src/services/orangeHRM-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

improved access-process to orangeHRM
  backend/src/services/orangeHRM-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

passed generateToken()-method as parameter to all methods
  backend/src/apis/orangeHRM-api.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

changed _goaldID to _id (was not displayed in frontend)
  frontend/src/app/components/evaluation-record/evaluation-record.component.html
  frontend/src/app/components/evaluation-record/evaluation-record.component.ts
  frontend/src/app/models/EvaluationRecord.ts
  frontend/src/app/services/evaluation-record.service.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

renamed function correctly
  frontend/src/app/components/evaluation-record/evaluation-record.component.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

cast to string (causes error, when sending an integer)
  backend/src/apis/evaluation-record-api.js
  backend/src/apis/salesman-api.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

Update frontend/src/app/components/evaluation-record/evaluation-record.component.ts, frontend/src/app/services/evaluation-record.service.ts
  frontend/src/app/components/evaluation-record/evaluation-record.component.ts
  frontend/src/app/services/evaluation-record.service.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

fix lint warning
  frontend/src/app/app.routing.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

remove useless log
  frontend/src/app/components/evaluation-record/evaluation-record.component.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

Path conditions:
  install-dependencies:backend: any of: backend/**/*
  unit-test:backend: any of: backend/**/*
  deploy:backend: any of: backend/**/*
  install-dependencies:frontend: any of: frontend/**/*
  lint:frontend: any of: frontend/**/*
  build:frontend: any of: frontend/**/*
  deploy:frontend: any of: frontend/**/*
