Repository yzayak2s/iar-framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install-dependencies:backend, unit-test:backend, deploy:backend, install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

install-dependencies:backend:
  image: node:16-alpine
  stage: dependencies
  script:
  - cd backend
  - npm install
  cache:
    key:
      files:
      - backend/package-lock.json
    paths:
    - backend/node_modules

unit-test:backend:
  image: node:16-alpine
  stage: test
  needs:
  - install-dependencies:backend
  script:
  - cd backend
  - npm run coverage
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit:
      - ./backend/results/test-junit.xml
      coverage_report:
        coverage_format: cobertura
  ...

deploy:backend:
  stage: deploy
  image: alpine
  needs:
  - unit-test:backend
  script:
  - ls backend

install-dependencies:frontend:
  image: node:16-alpine
  stage: dependencies
  script:
  - cd frontend
  - npm install
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/node_modules

lint:frontend:
  image: node:16-alpine
  stage: test
  needs:
  - install-dependencies:frontend
  script:
  - cd frontend
  - npm link @angular/cli@13.3.2
  - ng lint
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/node_modules
    policy: pull

build:frontend:
  image: node:16-alpine
  stage: build
  needs:
  - lint:frontend
  script:
  - cd frontend
  - npm link @angular/cli@13.3.2
  - npm run build
  after_script:
  - echo "JOB_ID=$CI_JOB_ID" >> job.env
  artifacts:
    paths:
    - $CI_PROJECT_DIR/frontend/dist
    reports:
      dotenv: job.env
  cache:
    key:
      files:
  ...

deploy:frontend:
  image: alpine
  stage: deploy
  needs:
  - build:frontend
  variables:
    BUILD_JOB_ID: JOB_ID
    ARTIFACT_URL: https://git.inf.h-brs.de/api/v4/projects/$CI_PROJECT_ID/jobs/$JOB_ID/artifacts?job_token=$CI_JOB_TOKEN
  script:
  - ls frontend

added table footer cell with total perfBonus in evaluationrecordComponent
  frontend/src/app/components/evaluationrecord/evaluationrecord.component.html
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

added evaluationrecordComponent to bonusDetailComponent
  frontend/src/app/components/bonus-detail/bonus-detail.component.html
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

used bonusComputationService in BonusesComponent
  frontend/src/app/components/bonuses/bonuses.component.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

implemented getBySalesmanIDAndYear()-method (evaluationrecords)
  backend/src/services/evaluation-record-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

provided getEvaluationRecordsOfSalesmanByIdAndYear()-method
  backend/src/apis/evaluation-record-api.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

created bonusComputationService and provided getBonusComputationBySalesManIDAndYear()-method
  backend/src/apis/bonus-computation-api.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

provided endpoint for evaluationrecords by salesManID and year
  backend/src/routes/api-routes.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

provided endpoint for bonusComputation by salesManID and year
  backend/src/routes/api-routes.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

added permission for remarks and changed column name from verified to status
  frontend/src/app/components/bonus-detail/bonus-detail.component.html
  frontend/src/app/components/bonus-detail/bonus-detail.component.ts
  frontend/src/app/components/bonuses/bonuses.component.html
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

goal fix
  backend/src/services/evaluation-record-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

temporary fix
  backend/src/app.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

revert of temporary fix
  backend/src/app.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

generated salesorder component for specific view
  frontend/src/app/app.module.ts
  frontend/src/app/components/salesorder/salesorder.component.css
  frontend/src/app/components/salesorder/salesorder.component.html
  frontend/src/app/components/salesorder/salesorder.component.spec.ts
  frontend/src/app/components/salesorder/salesorder.component.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

added salesorderComponent to bonusDetailComponent
  frontend/src/app/components/bonus-detail/bonus-detail.component.html
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

provided mat-table for order evaluation
  frontend/src/app/components/salesorder/salesorder.component.css
  frontend/src/app/components/salesorder/salesorder.component.html
  frontend/src/app/components/salesorder/salesorder.component.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

refactored table view of salesOrderComponent (fix)
  frontend/src/app/components/salesorder/salesorder.component.html
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

removed filterBonus()-method and evaluationRecordService (no needed anymore)
  frontend/src/app/components/evaluationrecord/evaluationrecord.component.html
  frontend/src/app/components/evaluationrecord/evaluationrecord.component.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

removed parseInt() for year
  backend/src/services/evaluation-record-service.js
  frontend/src/app/components/evaluationrecord/evaluationrecord.component.ts
Due: install-dependencies:backend, unit-test:backend, deploy:backend, install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

new model for bonus calculations
  frontend/src/app/models/bonus_calc.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

esLint fixes
  frontend/src/app/components/bonuses/bonuses.component.ts
  frontend/src/app/components/evaluationrecord/evaluationrecord.component.ts
  frontend/src/app/components/salesorder/salesorder.component.ts
  frontend/src/app/services/bonus-computation.service.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

added endpoint for requesting employee photos
  backend/src/routes/api-routes.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

provided interface for employee photo
  frontend/src/app/interfaces/Photo.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

removed unused imports and implemented getEmployeePhotoById()-method
  backend/src/services/orangeHRM-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

provided getEmployeePhotoById()-method
  backend/src/apis/orangeHRM-api.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

added permission to request photos
  backend/src/routes/api-routes.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

requested employee photo and saved base64 string to variable
  frontend/src/app/components/dashboard/dashboard.component.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

implemented getUserPhoto()-method in UserService
  frontend/src/app/services/user.service.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

displayed photo as img and avatar
  frontend/src/app/components/dashboard/dashboard.component.css
  frontend/src/app/components/dashboard/dashboard.component.html
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

installed @typescript-eslint/eslint-plugin-tslint
  frontend/package-lock.json
  frontend/package.json
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

capitalized first characters
  frontend/src/app/components/bonus-detail/bonus-detail.component.html
  frontend/src/app/components/bonuses/bonuses.component.html
  frontend/src/app/components/salesorder/salesorder.component.html
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

added property buttonsForSalesMan
  frontend/src/app/components/menu-bar/menu-bar.component.html
  frontend/src/app/components/menu-bar/menu-bar.component.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

used bonusesOfSalesmanComponent in dashboardComponent
  frontend/src/app/components/dashboard/dashboard.component.css
  frontend/src/app/components/dashboard/dashboard.component.html
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

allowed salesman to fetch photo and bonuscomputation
  backend/src/routes/api-routes.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

new bonus update functions
  backend/src/apis/bonus-api.js
  backend/src/routes/api-routes.js
  backend/src/services/bonus-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

new swagger documentation
  backend/swagger.json
Due: install-dependencies:backend, unit-test:backend, deploy:backend

implemented getBonusesBySalesManID()-method in BonusService
  frontend/src/app/services/bonus.service.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

generated bonusesOfSalesmanComponent and provided mat-table for specific bonuses
  frontend/src/app/app.module.ts
  frontend/src/app/components/bonuses-of-salesman/bonuses-of-salesman.component.css
  frontend/src/app/components/bonuses-of-salesman/bonuses-of-salesman.component.html
  frontend/src/app/components/bonuses-of-salesman/bonuses-of-salesman.component.spec.ts
  frontend/src/app/components/bonuses-of-salesman/bonuses-of-salesman.component.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

authentification
  backend/src/apis/bonus-api.js
  backend/src/services/bonus-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

Path conditions:
  install-dependencies:backend: any of: backend/**/*
  unit-test:backend: any of: backend/**/*
  deploy:backend: any of: backend/**/*
  install-dependencies:frontend: any of: frontend/**/*
  lint:frontend: any of: frontend/**/*
  build:frontend: any of: frontend/**/*
  deploy:frontend: any of: frontend/**/*
