Repository yzayak2s/iar-framework: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install-dependencies:backend, unit-test:backend, deploy:backend, install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

.gitlab-ci.yml:

stages:
  - dependencies
  - test
  - build
  - deploy

.backend_rules:
  rules:
    - if: "$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH"
      changes:
        - backend/**/*

.frontend_rules:
  rules:
    - if: "$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH"
      changes:
        - frontend/**/*

install-dependencies:backend:
  image: node:16-alpine
  stage: dependencies
  script:
    - cd backend
    - npm install
  rules:
    - !reference [.backend_rules, rules]
  cache:
    key:
      files:
        - backend/package-lock.json
    paths:
      - backend/node_modules

unit-test:backend:
  image: node:16-alpine
  stage: test
  rules:
    - !reference [ .backend_rules, rules ]
  needs:
    - install-dependencies:backend
  script:
    - cd backend
    - npm run coverage
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit:
        - ./backend/results/test-junit.xml
      coverage_report:
        coverage_format: cobertura
        path: ./backend/coverage/cobertura-coverage.xml
  cache:
    key:
      files:
        - backend/package-lock.json
    paths:
      - backend/node_modules
    policy: pull

deploy:backend:
  stage: deploy
  image: alpine
  rules:
    - !reference [ .backend_rules, rules ]
  needs:
    - unit-test:backend
  script:
    - ls backend

install-dependencies:frontend:
  image: node:16-alpine
  stage: dependencies
  script:
    - cd frontend
    - npm install
  rules:
    - !reference [ .frontend_rules, rules ]
  cache:
    key:
      files:
        - frontend/package-lock.json
    paths:
      - frontend/node_modules

lint:frontend:
  image: node:16-alpine
  stage: test
  rules:
    - !reference [ .frontend_rules, rules ]
  needs:
    - install-dependencies:frontend
  script:
    - cd frontend
    - npm link @angular/cli@13.3.2
    - ng lint
  cache:
    key:
      files:
        - frontend/package-lock.json
    paths:
      - frontend/node_modules
    policy: pull

.test:frontend:
  image: container.docker.inf.h-brs.de/diarchitect/docker-node-chrome-firefox:master
  stage: test
  needs:
    - install-dependencies:frontend
  rules:
    - !reference [ .frontend_rules, rules ]
  script:
    - cd frontend
    - npm link @angular/cli@13.3.2
    - npm test -- --browsers=ChromeHeadlessNoSandbox,FirefoxHeadless --watch=false
  artifacts:
    when: always
    expire_in: 1 week
    reports:
      junit:
        - "./frontend/reports/chrome.xml"
        - "./frontend/reports/firefox.xml"
      coverage_report:
        coverage_format: cobertura
        path: ./frontend/coverage/app/cobertura-coverage.xml
  cache:
    key:
      files:
        - frontend/package-lock.json
    paths:
      - frontend/node_modules
    policy: pull

build:frontend:
  image: node:16-alpine
  stage: build
  rules:
    - !reference [ .frontend_rules, rules ]
  needs:
    - lint:frontend
    #- test:frontend
  script:
    - cd frontend
    - npm link @angular/cli@13.3.2
    - npm run build
  after_script:
    - echo "JOB_ID=$CI_JOB_ID" >> job.env
  artifacts:
    paths:
      - $CI_PROJECT_DIR/frontend/dist
    reports:
      dotenv: job.env
  cache:
    key:
      files:
        - frontend/package-lock.json
    paths:
      - frontend/node_modules
    policy: pull

deploy:frontend:
  image: alpine
  stage: deploy
  rules:
    - !reference [ .frontend_rules, rules ]
  needs:
    - build:frontend
  variables:
    BUILD_JOB_ID: JOB_ID
    ARTIFACT_URL: "https://git.inf.h-brs.de/api/v4/projects/$CI_PROJECT_ID/jobs/$JOB_ID/artifacts?job_token=$CI_JOB_TOKEN"
  script:
    - ls frontend

implemented deleteBySalesManID()-method for a bonuses
  backend/src/services/bonus-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

added service
  backend/unit-tests/services/openCRX-service.spec.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

added sinon-chai and rewire
  backend/package-lock.json
  backend/package.json
Due: install-dependencies:backend, unit-test:backend, deploy:backend

moved header code to service class
  backend/src/apis/orangeHRM-api.js
  backend/src/services/orangeHRM-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

first test for mocked api call
  backend/unit-tests/services/orangeHRM-service.spec.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

provided endpoint for getPositions
  backend/src/routes/api-routes.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

provided getPositions()-method
  backend/src/apis/openCRX-api.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

implemented getAllPositionsByUID()-method
  backend/src/services/openCRX-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

added chai-things
  backend/package-lock.json
  backend/package.json
Due: install-dependencies:backend, unit-test:backend, deploy:backend

add more test
  backend/unit-tests/services/orangeHRM-service.spec.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

change to new format
  backend/src/services/orangeHRM-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

finish bonus tests
  backend/unit-tests/services/orangeHRM-service.spec.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

fix function parameter
  backend/src/apis/orangeHRM-api.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

add test for add bonus function
  backend/unit-tests/services/orangeHRM-service.spec.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

added test for generateToken method
  backend/unit-tests/services/orangeHRM-service.spec.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

moved request header to service class
  backend/src/apis/openCRX-api.js
  backend/src/services/openCRX-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

small fix with parameter
  backend/src/services/openCRX-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

first tests
  backend/unit-tests/services/openCRX-service.spec.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

finished tests for openCRX
  backend/unit-tests/services/openCRX-service.spec.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

Added environment file for api secrets
  backend/environments/apiEnvironment.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

now use stored secrets in environment file
  backend/src/services/openCRX-service.js
  backend/src/services/orangeHRM-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

small fix
  backend/src/services/openCRX-service.js
  backend/src/services/orangeHRM-service.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

create bonus service tests
  backend/unit-tests/services/bonus-service.spec.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

add bootstrap to angular.json
  frontend/angular.json
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

import bootstrap
  frontend/src/app/app.module.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

add dependencies
  frontend/package.json
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

add dependencies
  frontend/package-lock.json
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

change firstname, add form
  frontend/src/app/components/sales-man/sales-man.component.css
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

Update, create sales-man.component.html
  frontend/src/app/components/sales-man/sales-man.component.html
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

Update, create Modal
  frontend/src/app/components/sales-man/sales-man.component.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

updateSalesman, saveSalesman implemented
  frontend/src/app/services/sales-man.service.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

constructor updated
  backend/src/models/SalesMan.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

change firstname,lastname
  backend/src/services/salesman-service.js
  frontend/src/app/models/SalesMan.ts
Due: install-dependencies:backend, unit-test:backend, deploy:backend, install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

update dependencies
  backend/package-lock.json
Due: install-dependencies:backend, unit-test:backend, deploy:backend

Revert "update dependencies"
  backend/package-lock.json
Due: install-dependencies:backend, unit-test:backend, deploy:backend

Revert "change firstname,lastname"
  backend/src/services/salesman-service.js
  frontend/src/app/models/SalesMan.ts
Due: install-dependencies:backend, unit-test:backend, deploy:backend, install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

Revert "constructor updated"
  backend/src/models/SalesMan.js
Due: install-dependencies:backend, unit-test:backend, deploy:backend

Revert "updateSalesman, saveSalesman implemented"
  frontend/src/app/services/sales-man.service.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

Revert "Update, create Modal"
  frontend/src/app/components/sales-man/sales-man.component.ts
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend

Revert "Update, create sales-man.component.html"
  frontend/src/app/components/sales-man/sales-man.component.html
Due: install-dependencies:frontend, lint:frontend, build:frontend, deploy:frontend
